<h2 id="title">Welcome to Ember</h2>

<ul>
  {{#each model as |movie|}}
  <li>
    {{log model}}
    {{movie.title}}
    <p>
      {{like-counter score=movie.score}}
    </p>
  </li>
  {{/each}}
</ul>


{{outlet}}
